@import '../../styles/base/variables';
@import '../../styles/base/utils';

.header {
  display: flex;
  height: px2rem(80);
  justify-content: space-between;
  padding: 0 px2rem(20);

  &__button {
    background: transparent;
    border: none;
    color: $primary;
    cursor: pointer;
    font-size: px2rem(24);
    padding: 0;
    min-width: px2rem(50);
  }
}