@import '../../styles/base/utils';
@import '../../styles/base/variables';;

.description {
  $base: &;
  &__image {
    height: px2rem(200);
  }

  &__header {

  }

  &__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{px2rem(80)});
    overflow: hidden;
    width: 100%;

    @include tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  &__top {
    padding: 0 px2rem(20);

    @include tablet {
      width: 50%;
      #{$base}__header {
        display: none;
      }
    }
  }

  &__bottom {
    align-items: flex-start;
    background-color: $bg;
    border-radius: px2rem(24);
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    padding: px2rem(36) px2rem(20);

    p:last-child {
      padding-bottom: 30px;
    }

    #{$base}__header {
      display: none;
    }

    @include tablet {
      width: 50%;
      box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.25);

      #{$base}__header {
        display: block;
      }
    }
  }

  &__form {
    display: flex;
    width: 100%;
  }

  &__field {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    text-align: left;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: px2rem(8);
    }

    label {
      margin-right: px2rem(8);
      line-height: px2rem(21);
      font-size: px2rem(16);
    }

    input, textarea {
      border: 1px solid;
      border-radius: px2rem(8);
      height: px2rem(16);
      padding-left: px2rem(8);
      width: 100%;
    }
    textarea {
      min-height: px2rem(80);
    }
  }

  &__paragraph {
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    font-size: 25px;

    #{$base}__bottom--editor & {
      display: block;
      margin-bottom: px2rem(8);
    }
  }

  &__attributes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: px2rem(24);
    width: 100%;
    
    #{$base}__bottom--editor & {
      justify-content: flex-start;

    }
    &--box {
      border: 1px solid black;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      font-size: 12px;
      height: px2rem(75);
      justify-content: space-around;
      margin: px2rem(8);
      width: px2rem(75);
    }

    &--description, label {
      font-weight: bold;
      text-transform: capitalize;
    }

    &--content {

    }
  }
}