@import '../../styles/base/utils';
@import '../../styles/base/variables';

.phone-container {
  display: flex;
  flex-direction: column;
  padding: 0 px2rem(20);
  overflow: scroll;
  
  @include tablet {
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  &__wrapper {
    background-color: $bg;
    min-height: calc(100vh - #{px2rem(80)});
  }
}